extends layout

block content
    body.ranking-page
        .header-wrapper-woos
            .header-woos
                p#codename.pcn=user.codename
        .ranking-container
            .ranking-selection-box
                h1#selection-title Woos
                p#selection-para People who you like 
                .ranking-selection-list
                    .ranking-left
                        - var i =0, j =0;
                        each member in members
                            - i++
                            - if(i <= 8){
                                .img-photo
                                    img.chat_photo(id=member.codename, src=member.photourl)
                                p.chat-mate=member.codename
                                #r1.rate_widget
                                    .ratings_chick(class='member_'+member.codename + '_1',val=1,codename=member.codename)
                                    
                            - }
                    .ranking-right
                        each member in members
                            - j++
                            - if(j > 8){
                                .img-photo
                                    img.chat_photo(id=member.codename, src=member.photourl)
                                p=member.codename
                                #r1.rate_widget
                                    .ratings_chick(class='member_'+member.codename + '_1')
                                    
                            - }
                .submit-part
                    button#submit_rating(type='button')
                    p#btn-woos Go back and mingle some more! 
                input#memberlist(hidden='hidden', type='text')
                #dialog(hidden="hidden")
                    .ranking-result-form
                        img#chatpeak.peaks
                        p#chatname
                        a#foundfb
                            #chatfbname.found-facebook
                        a#foundtw
                            #chattwname.found-twitter
        script
            function getProfile(codename){
                var members = JSON.parse($('#memberlist').val());
                var profile = {};
                if(members && members.length){
                    members.forEach(function(member){
                        if(member.codename == codename){
                            profile = member;
                            
                        }
                    });
                }
                return profile;
                
            }
            $('.ratings_chick').hover(
                    function() {  
                        $(this).prevAll().andSelf().addClass('ratings_over');  
                        $(this).nextAll().removeClass('ratings_vote');   
                    },
                    function() {  
                        $(this).prevAll().andSelf().removeClass('ratings_over');
                    }  
            );
            $('.ratings_chick').click(
                    function(){
                        if($(this).is('.ratings_chick')){
                            $(this).prevAll().andSelf().removeClass('ratings_chick');
                            $(this).prevAll().andSelf().addClass('ratings_chick-sel');
                        }
                        else{
                            $(this).prevAll().andSelf().removeClass('ratings_chick-sel');
                            $(this).prevAll().andSelf().addClass('ratings_chick');
                        }
                    }
            );
            $('#submit_rating').click(
                    function(){
                        $("#dialog").dialog({
                            closeOnEscape: true,
                            open: function(event, ui) { 
                                $(this).parent().children().children('.ui-dialog-titlebar-close').hide();
                            },
                            width:550,
                            height:400,
                            modal: true,
                            close: function( event, ui ) {
                                //window.location = '/logout';
                            }
                        });
                        var rating = $("[class*='ratings_chick-sel']").length;
                        var memberArr = new Array();
                        var lastmem = {};
                        var ctr=0;
                        $("[class*='ratings_chick-sel']").each(function(e){
                            ctr++;
                            if((Number(lastmem.val) < Number($(this).attr('val')))){
                                lastmem = {};
                                lastmem.val = $(this).attr('val');
                                lastmem.codename = $(this).attr('codename');
                            }
                            if(!lastmem.val){
                                lastmem = {};
                                lastmem.val = $(this).attr('val');
                                lastmem.codename = $(this).attr('codename');
                            }
                            
                            if(ctr >= rating && (memberArr.length == 0)){
                                memberArr.push(lastmem)
                            }
                            
                        });
                        var profile = getProfile(memberArr[0].codename);
                        var fblink = "https://facebook.com/" + profile.username
                        var twlink = "https://twitter.com/" + profile.username
                        $('#chatpeak').attr('src',profile.photourl);
                        $('#chatname').text(profile.codename);
                        $('#chatfbname').text("Add "+profile.codename+" on Facebook");
                        $('#foundfb').attr('href',fblink);
                        $('#chattwname').text("Add "+profile.codename+" on Twitter");
                        $('#foundtw').attr('href',twlink);
                    }
            );